html{ background-color: #fff; }
html, input, button, select,textarea { font: caption; font-size: 14px; line-height: 20px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga", "kern"; }
.g_wrap{ width: 96%; max-width: 1200px; _width: 1200px; margin-left: auto; margin-right: auto; }