.i1-1{ background-position: 0 0; }
.i1-2{ background-position: -16px 0; }
.i1-3{ background-position: -32px 0; }
.i1-4{ background-position: -48px 0; }
.i1-5{ background-position: -64px 0; }
.i1-6{ background-position: -80px 0; }
.i1-7{ background-position: -96px 0; }
.i1-8{ background-position: -112px 0; }
.i1-9{ background-position: -128px 0; }
.i1-10{ background-position: -144px 0; }
.i1-11{ background-position: -160px 0; }
.i1-12{ background-position: -176px 0; }
.i1-13{ background-position: -192px 0; }
.i1-14{ background-position: -208px 0; }
.i1-15{ background-position: -224px 0; }
.i1-16{ background-position: -240px 0; }
/**/
.i2-1{ background-position: 0 -16px; }
.i2-2{ background-position: -16px -16px; }
.i2-3{ background-position: -32px -16px; }
.i2-4{ background-position: -48px -16px; }
.i2-5{ background-position: -64px -16px; }
.i2-6{ background-position: -80px -16px; }
.i2-7{ background-position: -96px -16px; }
.i2-8{ background-position: -112px -16px; }
.i2-9{ background-position: -128px -16px; }
.i2-10{ background-position: -144px -16px; }
.i2-11{ background-position: -160px -16px; }
.i2-12{ background-position: -176px -16px; }
.i2-13{ background-position: -192px -16px; }
.i2-14{ background-position: -208px -16px; }
.i2-15{ background-position: -224px -16px; }
.i2-16{ background-position: -240px -16px; }
/**/
.i3-1{ background-position: 0 -32px; }
.i3-2{ background-position: -16px -32px; }
.i3-3{ background-position: -32px -32px; }
.i3-4{ background-position: -48px -32px; }
.i3-5{ background-position: -64px -32px; }
.i3-6{ background-position: -80px -32px; }
.i3-7{ background-position: -96px -32px; }
.i3-8{ background-position: -112px -32px; }
.i3-9{ background-position: -128px -32px; }
.i3-10{ background-position: -144px -32px; }
.i3-11{ background-position: -160px -32px; }
.i3-12{ background-position: -176px -32px; }
.i3-13{ background-position: -192px -32px; }
.i3-14{ background-position: -208px -32px; }
.i3-15{ background-position: -224px -32px; }
.i3-16{ background-position: -240px -32px; }
/**/
.i4-1{ background-position: 0 -48px; }
.i4-2{ background-position: -16px -48px; }
.i4-3{ background-position: -32px -48px; }
.i4-4{ background-position: -48px -48px; }
.i4-5{ background-position: -64px -48px; }
.i4-6{ background-position: -80px -48px; }
.i4-7{ background-position: -96px -48px; }
.i4-8{ background-position: -112px -48px; }
.i4-9{ background-position: -128px -48px; }
.i4-10{ background-position: -144px -48px; }
.i4-11{ background-position: -160px -48px; }
.i4-12{ background-position: -176px -48px; }
.i4-13{ background-position: -192px -48px; }
.i4-14{ background-position: -208px -48px; }
.i4-15{ background-position: -224px -48px; }
.i4-16{ background-position: -240px -48px; }
/**/
.i5-1{ background-position: 0 -64px; }
.i5-2{ background-position: -16px -64px; }
.i5-3{ background-position: -32px -64px; }
.i5-4{ background-position: -48px -64px; }
.i5-5{ background-position: -64px -64px; }
.i5-6{ background-position: -80px -64px; }
.i5-7{ background-position: -96px -64px; }
.i5-8{ background-position: -112px -64px; }
.i5-9{ background-position: -128px -64px; }
.i5-10{ background-position: -144px -64px; }
.i5-11{ background-position: -160px -64px; }
.i5-12{ background-position: -176px -64px; }
.i5-13{ background-position: -192px -64px; }
.i5-14{ background-position: -208px -64px; }
.i5-15{ background-position: -224px -64px; }
.i5-16{ background-position: -240px -64px; }
/**/
.i6-1{ background-position: 0 -80px; }
.i6-2{ background-position: -16px -80px; }
.i6-3{ background-position: -32px -80px; }
.i6-4{ background-position: -48px -80px; }
.i6-5{ background-position: -64px -80px; }
.i6-6{ background-position: -80px -80px; }
.i6-7{ background-position: -96px -80px; }
.i6-8{ background-position: -112px -80px; }
.i6-9{ background-position: -128px -80px; }
.i6-10{ background-position: -144px -80px; }
.i6-11{ background-position: -160px -80px; }
.i6-12{ background-position: -176px -80px; }
.i6-13{ background-position: -192px -80px; }
.i6-14{ background-position: -208px -80px; }
.i6-15{ background-position: -224px -80px; }
.i6-16{ background-position: -240px -80px; }
/**/
.i7-1{ background-position: 0 -96px; }
.i7-2{ background-position: -16px -96px; }
.i7-3{ background-position: -32px -96px; }
.i7-4{ background-position: -48px -96px; }
.i7-5{ background-position: -64px -96px; }
.i7-6{ background-position: -80px -96px; }
.i7-7{ background-position: -96px -96px; }
.i7-8{ background-position: -112px -96px; }
.i7-9{ background-position: -128px -96px; }
.i7-10{ background-position: -144px -96px; }
.i7-11{ background-position: -160px -96px; }
.i7-12{ background-position: -176px -96px; }
.i7-13{ background-position: -192px -96px; }
.i7-14{ background-position: -208px -96px; }
.i7-15{ background-position: -224px -96px; }
.i7-16{ background-position: -240px -96px; }
/**/
.i8-1{ background-position: 0 -112px; }
.i8-2{ background-position: -16px -112px; }
.i8-3{ background-position: -32px -112px; }
.i8-4{ background-position: -48px -112px; }
.i8-5{ background-position: -64px -112px; }
.i8-6{ background-position: -80px -112px; }
.i8-7{ background-position: -96px -112px; }
.i8-8{ background-position: -112px -112px; }
.i8-9{ background-position: -128px -112px; }
.i8-10{ background-position: -144px -112px; }
.i8-11{ background-position: -160px -112px; }
.i8-12{ background-position: -176px -112px; }
.i8-13{ background-position: -192px -112px; }
.i8-14{ background-position: -208px -112px; }
.i8-15{ background-position: -224px -112px; }
.i8-16{ background-position: -240px -112px; }
/**/
.i9-1{ background-position: 0 -128px; }
.i9-2{ background-position: -16px -128px; }
.i9-3{ background-position: -32px -128px; }
.i9-4{ background-position: -48px -128px; }
.i9-5{ background-position: -64px -128px; }
.i9-6{ background-position: -80px -128px; }
.i9-7{ background-position: -96px -128px; }
.i9-8{ background-position: -112px -128px; }
.i9-9{ background-position: -128px -128px; }
.i9-10{ background-position: -144px -128px; }
.i9-11{ background-position: -160px -128px; }
.i9-12{ background-position: -176px -128px; }
.i9-13{ background-position: -192px -128px; }
.i9-14{ background-position: -208px -128px; }
.i9-15{ background-position: -224px -128px; }
.i9-16{ background-position: -240px -128px; }
/**/
.i10-1{ background-position: 0 -144px; }
.i10-2{ background-position: -16px -144px; }
.i10-3{ background-position: -32px -144px; }
.i10-4{ background-position: -48px -144px; }
.i10-5{ background-position: -64px -144px; }
.i10-6{ background-position: -80px -144px; }
.i10-7{ background-position: -96px -144px; }
.i10-8{ background-position: -112px -144px; }
.i10-9{ background-position: -128px -144px; }
.i10-10{ background-position: -144px -144px; }
.i10-11{ background-position: -160px -144px; }
.i10-12{ background-position: -176px -144px; }
.i10-13{ background-position: -192px -144px; }
.i10-14{ background-position: -208px -144px; }
.i10-15{ background-position: -224px -144px; }
.i10-16{ background-position: -240px -144px; }
/**/
.i11-1{ background-position: 0 -160px; }
.i11-2{ background-position: -16px -160px; }
.i11-3{ background-position: -32px -160px; }
.i11-4{ background-position: -48px -160px; }
.i11-5{ background-position: -64px -160px; }
.i11-6{ background-position: -80px -160px; }
.i11-7{ background-position: -96px -160px; }
.i11-8{ background-position: -112px -160px; }
.i11-9{ background-position: -128px -160px; }
.i11-10{ background-position: -144px -160px; }
.i11-11{ background-position: -160px -160px; }
.i11-12{ background-position: -176px -160px; }
.i11-13{ background-position: -192px -160px; }
.i11-14{ background-position: -208px -160px; }
.i11-15{ background-position: -224px -160px; }
.i11-16{ background-position: -240px -160px; }
/**/
.i12-1{ background-position: 0 -176px; }
.i12-2{ background-position: -16px -176px; }
.i12-3{ background-position: -32px -176px; }
.i12-4{ background-position: -48px -176px; }
.i12-5{ background-position: -64px -176px; }
.i12-6{ background-position: -80px -176px; }
.i12-7{ background-position: -96px -176px; }
.i12-8{ background-position: -112px -176px; }
.i12-9{ background-position: -128px -176px; }
.i12-10{ background-position: -144px -176px; }
.i12-11{ background-position: -160px -176px; }
.i12-12{ background-position: -176px -176px; }
.i12-13{ background-position: -192px -176px; }
.i12-14{ background-position: -208px -176px; }
.i12-15{ background-position: -224px -176px; }
.i12-16{ background-position: -240px -176px; }
/**/
.i13-1{ background-position: 0 -192px; }
.i13-2{ background-position: -16px -192px; }
.i13-3{ background-position: -32px -192px; }
.i13-4{ background-position: -48px -192px; }
.i13-5{ background-position: -64px -192px; }
.i13-6{ background-position: -80px -192px; }
.i13-7{ background-position: -96px -192px; }
.i13-8{ background-position: -112px -192px; }
.i13-9{ background-position: -128px -192px; }
.i13-10{ background-position: -144px -192px; }
.i13-11{ background-position: -160px -192px; }
.i13-12{ background-position: -176px -192px; }
.i13-13{ background-position: -192px -192px; }
.i13-14{ background-position: -208px -192px; }
.i13-15{ background-position: -224px -192px; }
.i13-16{ background-position: -240px -192px; }
/**/
.i14-1{ background-position: 0 208px; }
.i14-2{ background-position: -16px -208px; }
.i14-3{ background-position: -32px -208px; }
.i14-4{ background-position: -48px -208px; }
.i14-5{ background-position: -64px -208px; }
.i14-6{ background-position: -80px -208px; }
.i14-7{ background-position: -96px -208px; }
.i14-8{ background-position: -112px -208px; }
.i14-9{ background-position: -128px -208px; }
.i14-10{ background-position: -144px -208px; }
.i14-11{ background-position: -160px -208px; }
.i14-12{ background-position: -176px -208px; }
.i14-13{ background-position: -192px -208px; }
.i14-14{ background-position: -208px -208px; }
.i14-15{ background-position: -224px -208px; }
.i14-16{ background-position: -240px -208px; }
/**/
.i15-1{ background-position: 0 224px; }
.i15-2{ background-position: -16px -224px; }
.i15-3{ background-position: -32px -224px; }
.i15-4{ background-position: -48px -224px; }
.i15-5{ background-position: -64px -224px; }
.i15-6{ background-position: -80px -224px; }
.i15-7{ background-position: -96px -224px; }
.i15-8{ background-position: -112px -224px; }
.i15-9{ background-position: -128px -224px; }
.i15-10{ background-position: -144px -224px; }
.i15-11{ background-position: -160px -224px; }
.i15-12{ background-position: -176px -224px; }
.i15-13{ background-position: -192px -224px; }
.i15-14{ background-position: -208px -224px; }
.i15-15{ background-position: -224px -224px; }
.i15-16{ background-position: -240px -224px; }
/**/
.i16-1{ background-position: 0 -240px; }
.i16-2{ background-position: -16px -240px; }
.i16-3{ background-position: -32px -240px; }
.i16-4{ background-position: -48px -240px; }
.i16-5{ background-position: -64px -240px; }
.i16-6{ background-position: -80px -240px; }
.i16-7{ background-position: -96px -240px; }
.i16-8{ background-position: -112px -240px; }
.i16-9{ background-position: -128px -240px; }
.i16-10{ background-position: -144px -240px; }
.i16-11{ background-position: -160px -240px; }
.i16-12{ background-position: -176px -240px; }
.i16-13{ background-position: -192px -240px; }
.i16-14{ background-position: -208px -240px; }
.i16-15{ background-position: -224px -240px; }
.i16-16{ background-position: -240px -240px; }
